<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.daycheck.mapper.NoUpMapper">

    <resultMap id="NoUpGoodsResultMap" type="com.zeroone.star.daycheck.entity.NoUpGoods">
        <result property="bin_id" column="bin_id"/>
        <result property="bin_sta" column="bin_sta"/>
        <result property="tin_id" column="tin_id"/>
        <result property="cus_code" column="cus_code"/>
        <result property="zhong_wen_qch" column="zhong_wen_qch"/>
        <result property="goods_id" column="goods_id"/>
        <result property="shp_ming_cheng" column="shp_ming_cheng"/>
        <result property="qm_ok_quat" column="qm_ok_quat"/>
        <result property="goods_unit" column="goods_unit"/>
        <result property="pro_data" column="pro_data"/>
        <result property="create_date" column="create_date"/>
        <result property="bzhi_qi" column="bzhi_qi"/>
        <result property="sys_company_code" column="sys_company_code"/>
    </resultMap>

    <select id="getNoUpGoodsPage" resultMap="NoUpGoodsResultMap">
        select * from wm_in_qm_i wiqi
        left join md_goods on wiqi.goods_id = md_goods.shp_bian_ma
        LEFT JOIN md_cus ON wiqi.sys_company_code = md_cus.sys_company_code
        <where>
            <if test="query.bin_id != null">
                AND wiqi.bin_id = #{query.bin_id}
            </if>
            <if test="query.tin_id != null">
                AND wiqi.tin_id = #{query.tin_id}
            </if>
            <if test="query.cus_code != null">
                AND wiqi.sys_company_code = #{query.cus_code}
            </if>
            <if test="query.zhong_wen_qch != null">
                AND md_cus.zhong_wen_qch = #{query.zhong_wen_qch}
            </if>
            <if test="query.goods_id != null">
                AND md_goods.shp_bian_ma = #{query.goods_id}
            </if>
            <if test="query.shp_ming_cheng != null">
                AND md_goods.shp_ming_cheng = #{query.shp_ming_cheng}
            </if>
        </where>
    </select>
</mapper>
