<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.sysmgr.mapper.TSRoleOrgMapper">

    <select id="selectRoleIdsByOrgId" resultType="java.lang.String">
        select role_id from t_s_role_org where org_id=#{orgId}
    </select>

    <delete id="deleteByOrgId">
        delete from t_s_role_org where org_id=#{orgId};
    </delete>

    <insert id="batchInsert">
        insert into t_s_role_org(ID,org_id,role_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.orgId},#{item.roleId})
        </foreach>
    </insert>
</mapper>
