<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.outgoodsmanage.mapper.WmOmNoticeIMapper">


    <insert id="insertOutGoodsNotice" parameterType="com.zeroone.star.project.dto.j7.outmanage.OutGoodsNoticeFormDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wm_om_notice_h (
            id,
            cus_code,
            delv_data,
            delv_member,
            delv_mobile,
            delv_addr,
            delv_method,
            re_member,
            re_carno,
            om_plat_no,
            om_beizhu,
            order_type_code,
            im_cus_code,
            ocus_name,
            store_code,
            fu_jian,
            create_name,
            create_by,
            create_date,
            update_name,
            update_by,
            update_date
        ) VALUES (
                     #{id},
                     #{cueCode},
                     #{delvData},
                     #{delvMember},
                     #{delvMobile},
                     #{delvAddr},
                     #{delvMethod},
                     #{reMember},
                     #{reCarno},
                     #{omPlatNo},
                     #{omBeizhu},
                     #{orderTypeCode},
                     #{imCusCode},
                     #{ocusName},
                     #{storeCode},
                     #{fuJian},
                     '管理员',
                     'admin',
                     now(),
                     '管理员',
                     'admin',
                     now()
                 )
    </insert>

</mapper>
