<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.stockln.mapper.WmImNoticeHMapper">

    <select id="searchAll" resultType="com.zeroone.star.project.dto.j6.stockln.ImportNoticeListDTO">
        select concat(im.cus_code,cus.zhong_wen_qch) as cus_name,im.create_date,im.create_name
             ,im.im_beizhu,im.im_car_dri,im.im_car_no,im.im_data,im.im_Sta,im.notice_id,
              im.order_type_code,im.sup_code,sup_name
        from wm_im_notice_h im inner join md_cus cus on im.cus_code=cus.ke_hu_bian_ma
            ${ew.customSqlSegment}
    </select>
</mapper>